<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Tickets')}" />

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    </header>

    <h1 class="text-center">Crea un ticket</h1>



    <form th:action="@{/tickets/create}" method="POST" th:object="${ticket}"
        class="mt-3 d-flex flex-column align-items-center text-center">

        <div th:if="${#fields.hasErrors()}">
            <span th:text="${#fields.errors()}"></span>
        </div>


        <div class="mt-3 col-6">
            <label for="nome" class="form-label">Nome del ticket</label>
            <input type="text" name="nome" id="nome" th:field="*{nome}" class="form-control">
        </div>

        <div class="mt-3 col-6">
            <label for="descrizione" class="form-label">Descrivi il problema</label>
            <textarea type="text" name="descrizione" id="descrizione" th:field="*{descrizione}" class="form-control" />
        </div>

        <div class="mt-3 col-6">
            <label for="categoria" class="form-label">Categoria</label>
            <select th:field="*{categoria.id}">
                <option th:each="categoria : ${categorie}" th:value="${categoria.id}" th:text="${categoria.nome}">
                    Categoria</option>
            </select>
        </div>

        <div class="mt-3 col-6">
            <label for="operatore" class="form-label">Operatore</label>
            <select th:field="*{operatore.id}">
                <option th:each="operatore : ${operatori}" th:value="${operatore.id}" th:text="${operatore.username}">
                    Operatore</option>
            </select>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary mt-3">Crea ticket</button>
        </div>



    </form>


    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <script th:replace="~{fragments/scripts :: script}"></script>
</body>

</html>