<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Ticket')}"></head>

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    </header>

    <main>
        <section class="container-fluid text-center" th:object="${ticket}">
            <h2 th:text="*{nome}" class="mb-5"></h2>
            <p th:text="*{descrizione}"></p>
            <p th:text="*{stato}"></p>
            <p th:text="*{operatore.username}"></p>
            <p th:each="nota : ${ticket.note}" th:text="${nota}"></p>
        </section>
    </main>

    <form action="" method="POST"></form>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <script th:replace="~{fragments/scripts :: script}"></script>
</body>

</html>