<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head th:replace="~{fragments/head :: head('Home')}" />

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    </header>

    <main class="container mt-4">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Benvenuto nel Sistema di Gestione Ticket</h1>
                <div class="d-flex gap-3 justify-content-center">
                    <a href="/tickets" class="btn btn-primary btn-lg">
                        <i class="fas fa-ticket-alt"></i> Visualizza Tickets
                    </a>

                    <!-- crea ticket (SOLO ADM) -->
                    <a href="/tickets/create" class="btn btn-success btn-lg" sec:authorize="hasAuthority('ADMIN')">
                        <i class="fas fa-plus"></i> Nuovo Ticket
                    </a>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
    <script th:replace="~{fragments/scripts :: script}"></script>
</body>

</html>